node_modules
pgdata/*
.env*
tmp/*
dump*
# env.yaml
yarn.lock
.gc-creds*
.local_scripts
.nyc_output/
.DS_Store
yarn-error.log
# testing
/coverage/lcov-report/*
/coverage/clover.xml
/coverage/coverage-final.json
package-lock.json
.eslintignore
.eslintrc.js
src/public/upload
.vercel
